// This is the main scss file. Create additional modules as needed and import them here.

@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "colors";
@import "processes";
@import "core";
