// The majority of scss can go here.

@mixin my-border($color) {
  border: 1px solid $color;
}

html {
	position: relative;
  min-height: 100%;
}

body {
  background: $color2;
  @include my-border(green);
	margin-bottom: 50px;
	padding-top: 50px;
}


ul {
	li {
		display: inline;
	}
}
